.bodyTitle {
    text-align: center;
    font-size: 1.5em;
}

.setArea {
    height: 12.5%;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.setArea:last-child {
    border-bottom: none;
}

.setQuestion {
    margin-left: 17.5%;
    font-size: 1em;
}

.setInput {
    border: 0px;
    font-size: 1em;
    width: 100px;
    display: inline-block;
    margin-right: 12.5%;
    text-align: center;
}

.setInput input[type=checkbox] {
    zoom: 2;
    margin-left: 0px;
    padding: 0px;
}

.startTimer {
    text-align: center;
    margin: auto;
    border-bottom: 2px solid green;
}

.timerNext {
    height: 15%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nextText {
    border-bottom: 1px solid black;
}

.clockContainer {
    margin-top: 0%;
    height: 35%;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* make the font monospace */
}

.clockFace {
    font-family: 'Inconsolata', monospace;
}

.timerInstructions {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.timerControls {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timerButton {
    width: 50%;
    margin: 20% 0px 0px 0px;
    font-size: 1.5em;
}

.leftButtonText {
    border-bottom: 2px solid red;
}

.rightButtonText {
    border-bottom: 2px solid green;
}

#nextInstruction {
    font-size: 1.5em;
}

@media (min-width: 801px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bodyContainer {
        margin-top: -5%;
        border: 2px solid black;
        min-width: 700px;
        width: 80%;
        min-height: 50%;
        text-align: center;
    }

    .setQuestion {
        margin-left: 22.5%;
    }

    .setInput {
        margin-right: 22.5%;
    }

    .bodyTitle {
        margin: 5%;
    }

    .timerButton {
        margin: 5%;
    }

    .clockContainer {
        height: 20%;
        font-size: 6em;
    }
}

@media (max-width: 800px) {
    .protocolHeader {
        height: 15%
    }
}
