/* desktop screen */
@media (min-width: 801px){
    #mobileBodyContainer {
        display: none;
    }
    #desktopBodyContainer {
        height: 100%;
        background-image: url("./background.jpg");
        background-size: cover;
        color: white;
    }
    .bodySplash {
        background-color: rgba(0,0,0,.2);
        height: 100%;
        margin: 0;
        padding: 0;
        font-weight: 100;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        /* align-items: center; */
        /* text-align: center; */
    }
    .splashTitle {
        margin-bottom: 30px;
        font-size: 3em;
        height: 42%;
        display: flex;
    }
    .textBottom {
        align-self: flex-end;
        justify-content: center;
        margin: 0px auto 0px auto;
    }
    #protocolDropdown {
        margin: 4% auto 0px auto;
        width: 300px;
        font-size: 1.5em;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        text-align: center;
        cursor: default;
    }
    #protocolDropdown > .protocolArea {
        display: none;
        background-color: rgba(255,255,255,.8);
        color: black;
        top: 0px;
        cursor: pointer;
    }
    #protocolDropdown:hover > .protocolArea {
        display: block;
    }
    #protocolDropdown > .protocolArea:hover {
        background-color: rgba(255,255,255,.6);
    }
}

/* mobile screen */
@media screen and (max-width: 800px) {
    #desktopBodyContainer {
        display: none;
    }

    .mobileTitle {
        height: 10%;
        margin: 0;
        padding: 0;
        font-size: 2em;
        font-weight: 100;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .protocolHeader {
        height: 20%;
        background-image: url("./hangboard.png");
        background-size: cover;
        width: 100%;
    }

    .protocolHeaderText {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: rgba(255,255,255,.5);
        font-size: 1.5em;
        height: 100%;
        width: 100%;
    }

    #mobileBodyContainer > .protocolArea {
        height: 17.5%;
        font-size: 1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,.5);
        cursor: pointer;
    }

    .protocolText {
        width: fit-content;
        margin: auto;
     }

    .protocolOne {
        border-bottom: 2px solid green;
    }

    .protocolTwo {
        border-bottom: 2px solid cyan;
    }

    .protocolThree {
        border-bottom: 2px solid orange;
    }

    .protocolFour {
        border-bottom: 2px solid purple;
    }
}
