.bodyTitle {
    height: 10%;
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.protocolHeader {
    height: 20%;
    background-image: url("./hangboard.png");
    background-size: cover;
    width: 100%;
}

.protocolHeaderText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    font-size: 4em;
    height: 100%;
    width: 100%;
}

.protocolArea {
    height: 17.5%;
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.protocolText {
    width: fit-content;
    margin: auto;
 }

.protocolOne {
    border-bottom: 2px solid green;
}

.protocolTwo {
    border-bottom: 2px solid cyan;
}

.protocolThree {
    border-bottom: 2px solid orange;
}

.protocolFour {
    border-bottom: 2px solid purple;
}
